<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Izin Lokasi Pasif (GPS Satelit) -->
    <uses-permission android.permission.ACCESS_FINE_LOCATION />
    <uses-permission android.permission.ACCESS_COARSE_LOCATION />

    <!-- Izin Wi-Fi & Bluetooth untuk Mesh P2P -->
    <uses-permission android.permission.ACCESS_WIFI_STATE />
    <uses-permission android.permission.CHANGE_WIFI_STATE />
    <uses-permission android.permission.CHANGE_NETWORK_STATE />
    <uses-permission android.permission.INTERNET />
    <uses-permission android.permission.ACCESS_NETWORK_STATE />

    <!-- Izin Bluetooth Android 11 Ke Bawah -->
    <uses-permission android.permission.BLUETOOTH />
    <uses-permission android.permission.BLUETOOTH_ADMIN />

    <!-- Izin Bluetooth & Nearby Android 12+ -->
    <uses-permission android.permission.BLUETOOTH_SCAN android:usesPermissionFlags="neverForLocation" tools:targetApi="s" />
    <uses-permission android.permission.BLUETOOTH_ADVERTISE tools:targetApi="s" />
    <uses-permission android.permission.BLUETOOTH_CONNECT tools:targetApi="s" />
    <uses-permission android.permission.NEARBY_WIFI_DEVICES android:usesPermissionFlags="neverForLocation" tools:targetApi="tiramisu" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Mesh SOS GPS"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
        
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
